.task-list {
    flex: 1;
    margin: 0 10px;
    &-title {
        padding-left: 10px;
        margin-bottom: 24px;
    }
    .task-item-container {
        height: 700px;
        overflow: auto;
        padding: 1px 10px 10px;
    }
}